#videoControls{
	/*display: inline-block;*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -4px;
	background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding: 4px;
}
.controlImg{
	width: 30px;
	height: 30px;
}
#progressbar{
	height: 14px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	/*display: inline-block;*/
	vertical-align: middle;
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #c4c4c4;
  background-image: -moz-linear-gradient(top, #606060, #c4c4c4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#606060), to(#c4c4c4));
  background-image: -webkit-linear-gradient(top, #606060, #c4c4c4);
  background-image: -o-linear-gradient(top, #606060, #c4c4c4);
  background-image: linear-gradient(to bottom, #606060, #c4c4c4);
  background-repeat: repeat-x;
  border-color: #c4c4c4 #c4c4c4 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff606060', endColorstr='#ffc4c4c4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#progressbarVal{
	height: 14px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	vertical-align: middle;
	width: 0px;
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.progressbar_container{
	display: inline-block;
	vertical-align: middle;
	
	/*float: left;*/
}
#videoTimeDisplay{
	padding-right: 20px;
	color: white;
	vertical-align: top;
	display: inline-block;
	margin-top: 5px;
}
/*.playORpauseBtn{
	float:left;
}
.muteORunmuteBtn{
	float: right;
}*/
#commentsContainer{
	/*border-radius: 20px;*/
	width: 550px;
	/*height: 640px;*/
	padding: 3px;
	color: white;
	background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding: 4px;
	float: right;
}
.commentsDisplay{
	margin: 5px;
	/*border: 1px solid black;*/
	/*height: 500px;*/
}
.previousComments{
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.4);
	height: 40px;
}
.futureComments{
	vertical-align: bottom;
	background-color: rgba(255, 255, 255, 0.4);
	height: 40px;
}
.commentArrowUp{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 90%;
}
.commentArrowDown{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 90%;
}
.comments{
	height: 490px;
	overflow: auto;
}
.newComment{
	/*border: 1px solid white;*/
	margin: 2px;
	border-radius: 5px;
}
.userNameAndTime{
	padding-top: 2px;
	padding-left: 3px;
	color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*background-color: black;*/
	height: 20px;
	width: 187px;
	margin-left: 5px;
}
.icon{
	margin-right: 4px;
	border-radius: 5px;
	height: 20px;
	width: 20px;
	vertical-align: top;
	display: inline-block;
}
.commentText{
	overflow: hidden;
	color: white;
	height: 45px;
	width: 485px;
	background-color: darkgrey;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
	display: inline-block;
	resize: none;
	cursor: pointer;
}
#tickContainer{
	background-color: #222222;
	padding: 4px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#tickBar{
	height: 10px;
	border-top: 2px solid grey;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;	
	background-color: lightgrey;
}
.popover{
	/*max-width: 200px;
	max-height: 105px; */
	font-size: 10pt;
}
.popover-content{
	max-height: 76px;
	overflow: hidden;
}
.popover-title{
	max-height: 35px;
	overflow: hidden;
}
.goToTime{
	cursor: pointer;
}